
/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* Main-content */

.main-content{
    display: flex;
    text-align: center;
}

.es1,
.es2{
    width: calc(100% / 2 - 5px);
    height: 100vh;
    padding-top: 15px;
}

.es1{
    border-right: 10px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Box mail */
.box-mail{
    width: 350px;
    height: 400px;
    border: 1px solid #000;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(219, 240, 161);
    border-radius: 10px;
}

input{
    width: 80%;
    margin: 0 auto;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

[type*="email"]{
    margin-top: 30px;
}

[type*="button"]{
    cursor: pointer;
    margin-bottom: 40px;
}

#result{
    color: rgb(43, 147, 196);
}


/* Box dadi */

.box-dadi{
    width: 70%;
    height: 400px;
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: rgb(175, 248, 199);
}

.box{
    width: calc(100% / 2 - 10px);
    margin-top: 15px;
}

.risultato{
    width: 100%;
}
.point{
    display: flex;
    width: 100%;
}

#risultato{
    color: rgb(43, 147, 196);
}

